{% extends 'base.html' %}

{% block title %} Check Weather {% endblock %}

{% block body %}

    <div>
        {% if err_msg %}
        <p> O_ops, there were some issues, </p>
        <p> {{ err_msg }} </p>
        {% endif %}
    </div>

    <table class="table table-striped">
        <tr>
            <th> Country </th>
            <th> City </th>
            <th> Weather </th>
            <th> Condition </th>
        </tr>
        {% for weather in data %}
            <tr>
                <th> {{ weather.country }} </th>
                <th> {{ weather.city }} </th>
                <th> {{ weather.temperature }} </th>
                <th> {{ weather.condition }} </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
