{% extends 'base.html' %}

{% block title %} Check Weather {% endblock %}

{% block body %}

    <div>
        {% if err_msg %}
        <p> O_ops, there were some issues, </p>
        <p> {{ err_msg }} </p>
        {% endif %}
    </div>

    {% if data %}
        <h2> Fresh Weather </h2>
        <table class="table table-striped">
            <tr>
                <th> Country </th>
                <th> City </th>
                <th> Weather </th>
                <th> Condition </th>
            </tr>
            {% for weather in data %}
                <tr>
                    <td> {{ weather.country }} </td>
                    <td> {{ weather.city }} </td>
                    <td> {{ weather.temperature }} </td>
                    <td> {{ weather.condition }} </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p> Hm, there is no weather info yet. </p>
    {% endif %}
{% endblock %}
