{% extends 'base.html' %}

{% block title %} Statistic {% endblock %}

{% block body %}
    <h2> Database statistic </h2>

    {% if db_data %}
    <table class="table table-striped">
        <tr>
            <th> Country </th>
            <th> Weather records </th>
            <th> Last weather check </th>
            <th> Last city in a row </th>
        </tr>
        {% for country, weather in db_data.items() %}
            <tr>
                <td> {{ weather.country }} </td>
                <td> {{ weather.records }} </td>
                <td> {{ weather.last_check }} </td>
                <td> {{ weather.last_city }} </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p> Hm, there is no weather info yet. </p>
    {% endif %}

    <h2> Files statistic </h2>
    {% if files_data %}
    <table class="table table-striped">
        <tr>
            <th> Country </th>
            <th> First weather check </th>
            <th> Last weather check </th>
            <th> Number of files </th>
        </tr>
        {% for country, weather in files_data.items() %}
            <tr>
                <td> {{ weather.name }} </td>
                <td> {{ weather.first_check }} </td>
                <td> {{ weather.last_check }} </td>
                <td> {{ weather.count }} </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p> Hm, there is no weather info yet. </p>
    {% endif %}
{% endblock %}
